<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yszln.advancedui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdvancedUIKt">
        <activity android:name=".view.piechart.PiechartActivity"></activity>
        <activity android:name=".view.dashboard.DashboardViewActivity" />
        <activity android:name=".study.StudyActivity" />
        <activity android:name=".view.particleball.BallViewActivity" />
        <activity android:name=".view.schedule.ScheduleActivity" />
        <activity android:name=".main.MainActivity" /> <!-- 微信雷达扫描效果 -->
        <activity android:name=".view.radarscanning.WXRadarScanningActivity" />
        <activity android:name=".view.touch.ScrollViewActivity" /> <!-- 仿花束直播点赞效果 -->
        <activity android:name=".view.givelike.GiveLikeActivity" /> <!-- 六圆旋转扩散聚合效果 -->
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>